 .index {font-size:20px; font-family:verdana; 
	height:15px; width:400px; border:3px solid black; padding:20px;}

body {margin:20px; padding:20px;}


p {color:black; font-family:"verdana", cursive;} 

h1 {color:black; font-family:"georgia", monospace;}







